<configuration scan="true" debug="false">
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>

    <property name="CONSOLE_LOG_PATTERN"
              value="%yellow(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%9.9t:${PID:-}] %highlight(%5p) %cyan(%-40.40logger{39}) - %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.ibatis" level="STDOUT"/>
    <logger name="com.robert.myschool.mapper" level="STDOUT"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
